@import "variables.css";

.root {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  width: 150px;
  &:focus {
    outline: none;
  }
}
