@import "variables.css";

.root {
  width: 100%;
  height: 100%;
  padding: 1em;
  overflow-y: auto;
}

.parent {
  padding: 0 1em;
  background: rgba(255,255,255,.8);
  transition: all .5s ease-out 0s;
  &:hover {
    margin-left: 1em;
    background: rgba(215,215,215,.9);
  }
  &:active {
    margin-left: 1em;
    background: rgba(205,205,205,.9);
  }
  &:hover hr {
    display: none;
  }
}

.container {
  padding: 1em 0;
}

.item {
  width: 100%;
  display: block;
  &.bold {
    font-weight: bold;
    font-size: 11px;
  }
}