@import "variables";

.root {
  display : flex;
  justify-content: flex-start;
  height : 60px;
  padding: 0.6em;
}

.icon {
  margin: 0 1em 0 1.5em;
}

.text {
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.active button {
    color: color(var(--accent-color) alpha(80%)) !important;
}

.inactive button {
    color: var(--main-white) !important;
}