@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Raleway");
@import "variables";

* {
  &,
  &::after,
  &::before {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

::selection {
  background: color(var(--primary-color) alpha(50%));
}
