:root {
  --primary-color: #607D8B;
  --primary-color-dark: #455A64;
  --primary-color-light: #90A4AE;

  --main-white: #ffffff;

  --accent-color: #d32f2f;
  --link-color: #03A9F4;

  --text-color: #ffffff;
  --text-color-rev: #000;

  --divider-color: #BDBDBD;
}
