:root {
  --primary-color: #787878;
  --primary-color-dark: #444444;
  --primary-color-light: #F5F5F5;

  --main-white: #ffffff;

  --accent-color: #7EBA4C;
  --link-color: #7EBA4C;

  --text-color: #ffffff;
  --text-color-rev: #000;

  --divider-color: #BDBDBD;
}
