@import "variables.css";

.root {
  min-height: 700px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 0 4em 0;
  transition: all 0.5s ease;
}

.root > div {
  width: 100%;
}