@import "variables.css";

.root {
  background: var(--primary-color);
  color: #fff;
  transition: all 0.5s ease;
}

.title {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

.bPanel {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}