@import "variables.css";

.root {
  background: var(--primary-color);
  color: #fff;
  transition: all 0.5s ease;
  padding: 1.8em 0;
  height: 100px;
}

.title {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}