@import "normalize.css";
@import "base.css";
@import "variables.css";

.root {
  background: var(--primary-color-light);
  height: 100vh;
}

.nav {
  margin: 2em 0 0;
  padding: 0;
  text-align: center;
  list-style: none;

  & li {
    display: inline-block;
    margin: 0 .5em;
  }

  & a {
    color: #fff;

    &:hover {
      text-decoration: none;
    }
  }
}

.frame {
  height: calc(100vh - 150px);
}

.left {
    float: left;
    width : 15%;
    height: 100vh;
}

.right {
    float: left;
    width : 85%;
}